body{
    background:#B9B5B5;
}

button{
    font-size:20px;
    border-radius:20%;
    border-style:solid;
}

button:active{
    transform:translateY(2px);
}

#yes{
    background:#3CB371;
    margin-top:-20px;
}

#no{
    background:#FF4500;
    margin-top:-20px;
    margin-left:10px;
} 

#reset{
    background:rgb(18, 131, 52);
    margin-top:10px;
    margin-bottom:10px;
    width:140px;
}

#selectAll{
    margin-top: 5px;
}

#getTrick{
    background:#00FA9A;
    margin-top:20px;
}

#attempts{
  font-size:15px;
  width:25%;
  background:#E8DFDF;
}

.hide{
    display: none;
}

.show{
    display: inline-block;
}

.notLanded{
    color:rgb(172, 30, 30);
}

.landed{
    color:rgb(12, 95, 12);
}

.theEnd{
    color:rgb(17, 0, 255);
}